<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Visualização Simples</title>
    <style>
      .container {
        width: 100%;
        margin: 50px auto;
        text-align: center;
      }
      .container-img {
        display: flex;
        justify-content: space-around;
        flex-wrap: row;
        margin-bottom: 30px;
        margin-left: 60px;
        margin-right: 60px;
      }
      .grafico {
        max-width: 100%;
        height: auto;
        border: 2px solid #333;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Gráfico de relatório diário - BarberBack</h1>
      <div class="container-img">
        <img
          class="grafico"
          src="{{ img1_url }}"
          alt="Gráfico de Barras Gerado"
        />

        <img
          class="grafico"
          src="{{ img2_url }}"
          alt="Gráfico de Barras Gerado"
        />
      </div>
      <p>
        <strong
          ><mark>Não se esqueça, a turma do back é FODA PORRA!</mark></strong
        >
      </p>
    </div>
  </body>
</html>
