<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Visualização Simples</title>
    <style>
        .container {
            width: 80%;
            margin: 50px auto;
            text-align: center;
        }
        .grafico {
            max-width: 100%;
            height: auto;
            border: 2px solid #333;
            box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Gráfico de relatório diário - BarberBack</h1>
        
        <img class="grafico" src="{{ img1_url }}" alt="Gráfico de Barras Gerado"/>

        <img class="grafico" src="{{ img2_url }}" alt="Gráfico de Barras Gerado"/>
        <p>Olá mundo, eu consegui!!!!.</p>
    </div>
</body>
</html>